<button class="btn" (click)="openModal()">Ordenar</button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ordenação</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <div id="allValues" class="form-group">
          <label for="">Digite os valores do array separados por vírgulas</label>
          <input type="text" class="form-control input" name="array" [(ngModel)]="array">
        </div>
      <div id="onlyNumbers" class="form-group">
        <label for="">Digite os números do array separados por vírgulas <small>(Somente números e vírgulas)</small></label>
        <input type="text" class="form-control input" name="array" [(ngModel)]="array" (keypress)="onlyNumbers($event)">
      </div>
      <p *ngIf="dangerAlert">
          <ngb-alert [dismissible]="false">Digite valores para serem ordenados.</ngb-alert>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn-success" (click)="verifyField()">Ordenar</button>
  </div>
</ng-template>